.item {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: border 0.1s, color 0.1s;
    margin: 0 3px;
}
.item:hover {
    border: 1px solid #69CCFF;
    color: #69CCFF;
}
.item:focus {
    outline: none;
}
.isDisable {
    border-color: #ABADB1;
    color: #ABADB1;
}
.isDisable:hover {
    border-color: #ABADB1;
    color: #ABADB1;
}