.menu {
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
}
.menu > div {
  margin-right: 50px;
  margin-bottom: 30px;
}
.dropdown > button {
  min-width: 210px;
  max-width: 210px;
}
.total {
  margin-left: 20px;
  margin-bottom: 30px;
}
.total .data {
  display: flex;
  flex-flow: row wrap;
}
.total .data > div{
  margin-right: 30px;
}
.select {
  max-width: 350px;
  margin-bottom: 30px;
  margin-left: 20px;
}