.pagination {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 30px;
}



.paginationElem,
.paginationArrowLeft,
.paginationArrowRight {
    border: 1px solid grey;
    padding: 5px 15px;
    color: gray;

    &:hover {
        background: grey;
        color: white;
        opacity: .7;
        cursor: pointer;
    }
}

.paginationElemActive {
    border: 1px solid grey;
    background: grey;
    padding: 5px 15px;
    color: white;
    opacity: .7;
}