.app-wrapper {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.app {
  max-width: 100%;
}

.filterField {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}