.container {
    padding: 60px 100px;
}

.filtersRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
}

.filtersRow > * {
    margin-right: 16px;
}

.wideSelect {
    width: 180px;
}

label {
    display: block;
}
