.app {
  padding: 40px;

  .filter {
    &-row {
      display: flex;
      margin-bottom: 20px;

      &-element {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        p {
          margin: 0;
        }

        .select {
          width: 120px;
        }
      }
    }
  }

  .content {
    text-align: center;
  }
}