.pagination {
  margin: 5px 0 15px 0;
}

.pagination ul {
  display: inline-block;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid grey;
  border-radius: 3px;
  min-width: 30px;
}

.pagination a {
  outline: none;
  display: flex;
  padding: 2px 10px;
  cursor: pointer;
}

.active {
  background: grey;
}