.MultipleSelect {
  display: block;
  min-height: 40px;
  width: 100%;
  padding: 5px 10px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.MultipleSelect:focus {
  border-color: gray;
}

.MultipleSelect::placeholder {
  font-family: inherit;
  color: inherit;
  opacity: 1;
}
