.main {
  &__selectbar {
    display: flex;
    flex-direction: column;
  }
  &__selectrow {
    display: flex;
  }
}

.button {
  border-radius: 2px;
  border: black 1px solid;
  background: white;
  margin-bottom: 20px;
  &:hover {
    background: whitesmoke;
  }
}
