.main {
  padding: 0 5%;
  &__selectbar {
    display: flex;
    flex-direction: column;
  }
  &__selectrow {
    display: flex;
  }
}

.button {
  border-radius: 6px;
  border: black 2px solid;
  background: white;
  margin-bottom: 20px;

  &:hover {
    background: whitesmoke;
  }
}
