.dates {
    display: flex;
}

.datesElem {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    &:after {
        content: "*";
        position: absolute;
        color: red;
        right: 183px;
        font-size: 30px;
        font-weight: 800;
        top: -8px;
    }
}