.main-conteiner{
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 0.1px solid rgb(92, 91, 91);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(255, 255, 255);
}
.table-container{
    padding-top: 10px;
}